---
import { type StoryblokComponnetMap, type StoryblokRichTextJson } from '..';
import { resolveTag, transformAttrs } from '../utils';
import RichTextMark from './RichTextMark.astro';

interface Props {
  node: StoryblokRichTextJson;
  components?: StoryblokComponnetMap<any>;
}

const { node, components } = Astro.props;

const CustomComponent = node.type && components?.[node.type];

const Element = resolveTag(node);

// Render children recursively
const children = node.content ?? [];
---

{
  node.type === 'text' ? (
    <RichTextMark node={node} components={components} />
  ) : CustomComponent ? (
    <CustomComponent node={node} />
  ) : Element ? (
    <Element {...transformAttrs(node.attrs)}>
      {children.map((child) => (
        <Astro.self node={child} components={components} />
      ))}
    </Element>
  ) : (
    // Fallback wrapping
    <div {...transformAttrs(node.attrs)}>
      {children.map((child) => (
        <Astro.self node={child} components={components} />
      ))}
    </div>
  )
}
